/*태그선택자 */
.tit {
  font: 450% bolder;
  color: blue;
}

#tit2 {
  font: 250% bolder;
  color: blue;
  margin-left: 150px;

  padding-top: 250px;
}

#tit1 {
  color: violet;
}
/*클래스선택자 */

/*아이디선택자 */
